* {
  box-sizing: border-box;
}

.wrapper1{
  height: 100vh;
}

.header1{
  height: 100px;
  width: 100vw;
  background-color: red;
	background-size: 10px 10px;
	background-image:
	linear-gradient(45deg,  black 25%, gray 25%, transparent 25%,
  transparent 75%, gray 75%, black 75%),
	linear-gradient(-45deg, black 25%, gray 25%, transparent 25%,
	transparent 75%, gray 75%, black 75%);

  p{
    height: 100px;
    width: 600px;
    color: white;
    margin: 0 auto;
    font-size: 95px;
    text-align: center;
    font-family: serif;
  }
}

.main1{
  height: calc(100vh - 100px);
  width: 100vw;
  background-image: url(toiret-show4.jpg) ;
  position: relative;

  .link1{
    height: 100px;
    width:200px;
    margin: 0 0 auto auto;
    background-color: rgba($color: #000099, $alpha: 0.5);
    position: relative;
    
    p{
      height: 80px;
      width: 150px;
      font-size: 50px;
      font-family: serif;
      text-align: center;
      line-height: normal;
      position: absolute;
      top: 10px;
      left: 25px;
      color: white;
    }
  }
}