* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
}

.header{
  height: 100px;
  width: 100vw;
  background-color: #004400;
	background-size: 10px 10px;
	background-image:
	linear-gradient(45deg,  black 25%, gray 25%, transparent 25%,
  transparent 75%, gray 75%, black 75%),
	linear-gradient(-45deg, black 25%, gray 25%, transparent 25%,
	transparent 75%, gray 75%, black 75%);

  p{
    height: 100px;
    width: 300px;
    color: white;
    margin: 0 auto;
    font-size: 95px;
    text-align: center;
    font-family: serif;
  }
}

.main{
  height: calc(100vh - 100px);
  background-image: url(main.jpg);
  position: relative;

  .link{
    height: 100px;
    width:200px;
    margin: 0 0 auto auto;
    background-color: rgba($color: #000099, $alpha: 0.5);
    position: relative;
    
    p{
      height: 80px;
      width: 150px;
      font-size: 50px;
      font-family: serif;
      text-align: center;
      line-height: normal;
      position: absolute;
      top: 10px;
      left: 25px;
      color: white;
    }
  }
  
  .jenres{
    display: flex;
    position: absolute;
    top: 120px;
    left: 160px;

    &__block--left{
      
      &__top{
      width: 212px;
      height: 200px;
      background-image: url(toiret.png);
      opacity: 0.8;
      border: solid 0.5px;

        a{
          display: block;
          width: 212px;
          height: 200px;
        }
      }
      &__middle{
        width: 212px;
        height: 200px;
        background-image: url(sink.png);
        opacity: 0.8;
        border: solid 0.5px;
      }
      &__bottom{
        width: 212px;
        height: 200px;
        background-image: url(bath.png);
        opacity: 0.8;
        border: solid 0.5px;
      }
    }

    &__block--center{
      &__top{
      width: 212px;
      height: 200px;
      background-image: url(ranp.png);
      opacity: 0.8;
      border: solid 0.5px;
      }
      &__middle{
        width: 212px;
        height: 200px;
        background-image: url(consent.png);
        opacity: 0.8;
        border: solid 0.5px;
      }
      &__bottom{
        width: 212px;
        height: 200px;
        background-image: url(door.png);
        opacity: 0.8;
        border: solid 0.5px;
      }
    }
    
    &__block--right{
      &__top{
      width: 212px;
      height: 200px;
      background-image: url(window.png);
      opacity: 0.8;
      border: solid 0.5px;
      }
      &__middle{
        width: 212px;
        height: 200px;
        background-color: rgba($color: gray, $alpha: 0.8);
        opacity: 0.8;
        border: solid 0.5px;
      }
      &__bottom{
        width: 212px;
        height: 200px;
        background-color: rgba($color: gray, $alpha: 0.8);
        border: solid 0.5px;
      }
    }
  }

  .character{
    height: 250px;
    width: 170px;
    background-image: url(koujiya.png);
    position: absolute;
    top: 500px;
    left: 1200px;
  }

  .message{
    height: 300px;
    width: 500px;
    background-image: url(fukidashi.png);
    position: absolute;
    left: 850px;
    top: 200px;
    
    &__content{
      height: 200px;
      width: 350px;
      font-size: 30px;
      margin-top: 60px;
      margin-left: 120px;
      font-weight: bold;
      font-family: serif;
    }
  }
    
}


